{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>View Post</title>
</head>

<body>
    <header class="center-title-desc"> --}}
        <h1>View Post</h1>
        {{!-- <div class="container imgPostGrid"> --}}
    </header>
    <div class="container imgPostGrid">
        {{!-- <p>
        <section class="center-title-desc"></section>
        </p> --}}
        <div class="viewimg-border">
            {{!-- Photopath --}}
            {{!-- <div class="imgItem"><img src="/{{currentPost.photopath}}" alt="Image could not be loaded"></div>
            <br>
            <div class="imgInfo"> --}}
                {{!-- Post Title --}}
                {{!-- <section>
                    <h2>{{currentPost.title}}</h2>
                </section>
                <br> --}}
                {{!-- Author --}}
                {{!-- <section>
                    <h3>{{currentPost.username}}</h3>
                </section>
                <br> --}}
                {{!-- Creation Time --}}
                {{!-- <section>
                    <h4>{{currentPost.created}}</h4>
                </section>
                <br> --}}
                {{!-- Description --}}
                {{!-- <section>
                    <h3>{{currentPost.description}}</h3>
                </section>
            </div> --}}

            {{!-- Post Title --}}
            <section>
                <h2>{{data.title}}</h2>
            </section>
            <br>
            {{!-- Photopath --}}
            <div class="imgItem"><img src="/{{data.photopath}}" alt="Image could not be loaded"></div>
            <br>
            {{!-- Author --}}
            <section>
                <h4>@{{data.username}}</h4>
            </section>
            <br>
            {{!-- Creation Time --}}
            <section>
                <h5>{{data.created}}</h5>
            </section>
            <br>
            {{!-- Description --}}
            <section>
                <h4>{{data.description}}</h4>
            </section>

        </div>

        <div class="comments">
            <div id="comment-container">
                <div id="messages">
                    {{!-- {{log this}} --}}
                    {{> comment}}
                </div>

                <div id="comment-box">
                    <textarea id="comment-box-text" class="form-control" placeholder="Enter Comment"></textarea>
                    <span id="comment-box-button" class="input-group-text" aria-hidden="true" style="font-size: 40px;">
                        <i class="fa fa-comments"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('span[class=date-posted').forEach((postedDate) => {
                postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
            });
        });
        function addMessage(data) {
            let template = document.createElement('template');
            template.innerHTML =
                `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${(new Date()).toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>
        `;
            document.getElementById("messages").firstChild.before(template.content.firstChild);
        }

        document.getElementById("comment-box-button").onclick = (event) => {
            let commentText = document.getElementById("comment-box-text").value;
            let postId = document.location.pathname.match(/\d+/g).map(Number)[0];
            if (!commentText) {
                return;
            }
            let fetchOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "Application/json"
                },
                body: JSON.stringify({
                    comment: commentText,
                    postId, postId
                })
            }
            fetch('/comments/create', fetchOptions)
                .then((response) => response.json())
                .then((data) => {
                    if (data.code == 1) {
                        addMessage(data);
                    } else {
                        addFlashFromFrontEnd(data.message, data.status);
                    }
                })
                .catch(err => console.log(err));
        }
    </script>
    {{!--
</body>

</html> --}}