{{!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/form.css">
    <title>View Post</title>
</head>

<body>
    <header class="center-title-desc"> --}}
        <h1>View Post</h1>
        <div class="container">
    </header>
    {{!-- <p>
    <section class="center-title-desc"></section>
    </p> --}}
    <div class="viewimg-border">
        {{!-- Post Title --}}
        <section><h2>{{currentPost.title}}</h2></section>
        <br>
        {{!-- Author --}}
        <section><h3>{{currentPost.username}}</h3></section>
        <br>
        {{!-- Creation Time --}}
        <section><h4>{{currentPost.created}}</h4></section>
        <br>
        <br>
        <img src="/{{currentPost.photopath}}" alt="Image could not be loaded">
        {{!-- Description --}}
        <section><h3>{{currentPost.description}}</h3></section>
    </div>
    </div>
    {{!--
</body>

</html> --}}